.Word{
  font-size: 40px;
  font-weight: bolder;
  margin-left: 0ch;
  position: absolute;
}


.Nav-bar{
  position: fixed;
  width: 100%;
  background: black;
  height: 14vh;
  top: 0;
  left: 0;
}

.Nav-BarResume{
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 12rem;
}



.Nav-BarItems :hover{
  -moz-box-shadow: 0 0 10px #ccc;
  -webkit-box-shadow: 0 0 10px #ccc;
  box-shadow: 0 0 10px #ccc;
}

.Nav-BarItems ul{
  list-style: none;
  padding: 0;
  display: flex;
  margin-left: 6rem;
}

.Nav-BarItems li {
  padding-left: 2rem;
  padding-right: 2rem;

}

.spacer{
  flex: 1;
}

.picture{
  height:80px;
  width: 80;
}


.Resume {
  font-size:30px;
  color: white;
  position: absolute;
  list-style: none;

}


.Word:hover,
.Resume:hover {
  color: black;
  background-color :white;
  margin-left:-20px;
  padding-left:20px;
  padding-right:20px;
  padding-bottom: 10px;
  -moz-box-shadow: 0 0 10px #ccc;
  -webkit-box-shadow: 0 0 10px #ccc;
  box-shadow: 0 0 10px #ccc;
}

.Word{
  font-size: 45px;
    color: white;
    position: absolute;
    list-style: none;
    top: 30px;
}


.background{
  text-align: center;
  position: relative;
  min-width: 100%;
  min-height: auto;
  size: cover;


}

.body {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 28px;
  color:black;
  font-family: S;
}
